html,body{
  margin: 0;
  padding: 0;
  height: 100%;
  width:100%;
}
.all-chats{
  border: 1px solid gold;
  height: 100vh;
}
.left-side,.center{
  height: 90vh;
}

.left-side{
  border: 1px solid lightblue;
  width:25%;
  height: 100%;
}

.center{
  border: 1px solid pink;
  width: 75%;
}

.top{
  border: 1px solid lightgreen;
}
.flex-container{
  border: 1px solid purple;
  display: flex;
}
form{
  border: 1px solid black;
  width: 198px;
}
.new-msg{
  position: fixed;
  bottom: 5%;
  width: 100%;
}
.new-msg input[type="text"]{
  display: inline-block;
  width: 60%;
}
.new-msg input[type="submit"]{
  display: inline-block;
  margin-left: 3%;
}
.message{
  border: 1px solid black;
  width: 85%;
  padding-left: 5%;
  margin-left: 5%;
  margin-top: 2%;
  border-radius: 10px;
}
