html,body{
  margin: 0;
  padding: 0;
  height: 100%;
  width:100%;
  font-family: 'Montserrat', sans-serif;
}
/*===================================================================*/
/*====================== General Style  ==========================*/
/*===================================================================*/
button, input[type="submit"]{
  cursor: pointer;
}
.all-chats input[type="submit"]{
  background: none;
  color:white;
  margin-left: 5px;
  border-width: 2px;
  border-radius: 24px;
  transition: 0.25s;
}
.all-chats input[type="submit"]:hover{
  background-color: #eee;
  color: rgb(0, 61, 160);
  /* font-weight: bold; */
  outline: none;
}
form{
  width: 250px;
}
/*===================================================================*/
/*====================== General algnment  ==========================*/
/*===================================================================*/
.all-chats{
  /* border: 1px solid gold; */
  height: 100vh;
  background: linear-gradient(rgba(45,68,109,.9),rgba(1, 7, 30,.9)), url('side.jpeg');
}
.left-side,.center{
  height: 90vh;
}

.left-side{
  /* border: 1px solid lightblue; */
  width:25%;
  color: #ddd;
  transition: 0.25s;
}

.center{
  /* border: 1px solid pink; */
  width: 75%;
  overflow: scroll;
  background: url('background.jpg') center no-repeat;
  background-size: cover;
}

.top{
  /* border: 1px solid lightgreen; */
  display: flex;
  color: #eee;
}
.flex-container{
  /* border: 1px solid purple; */
  display: flex;
  max-height: 100vh;
  overflow: scroll;
  /* background: linear-gradient(#30476d,rgb(5, 29, 66)); */

}

/*===================================================================*/
/*============================ Message Box ==========================*/
/*===================================================================*/
.new-msg{
  position: fixed;
  bottom: 5%;
  width: 100%;
}
.new-msg input[type="text"]{
  display: inline-block;
  width: 60%;
}
.new-msg input[type="submit"]{
  display: inline-block;
  margin-left: 3%;
  border: 2px solid rgb(0, 61, 160);
  transition: 0.25s;
}
.new-msg input[type="submit"]:hover{
  background-color: rgb(0, 61, 160);
  color: #eee;
}
.message-btn{
  position:relative;
  display: none;
}
.message:hover .message-btn{
  display: inline;
}
.chat-screen{
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  flex-grow: 2;

}
.message{
  /* border: 1px solid black; */
  /* width: 85%; */
  flex-grow: 2;
  padding: 1rem;
  display: flex;
  justify-content: flex-start;
  margin-bottom: 1.2rem;
}
.avatar img{
  width: 3rem;
  height: 3.1rem;
  border-radius: 50%;
}
.message .avatar{
  margin-right: .5rem;
}
.message-user .avatar{
  margin-right: 0;
  margin-left: .5rem;
}
.msg{
  display: flex;
  justify-content: space-between;
  min-width: 200px;
}
.msg .pointer{
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 0 1rem 1.5rem 0;
  border-color: transparent #fff transparent transparent;
  margin: auto 0;
}
.inner-msg{
  background-color: #fff;
  width: 100%;
  padding: 1.5rem 1rem;
  border-radius: 0 4px 4px 4px;
  box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.1);
  text-align: left;
  margin: auto 0;
}
.message-user, .message-user .msg {
  flex-direction: row-reverse;
}
.message-user .msg .pointer{
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 1.5rem 1rem 0 0;
  border-color: #fff transparent transparent transparent ;
  margin: auto 0;
}
.message-user .msg .inner-msg{
  border-radius: 4px 0 4px 4px;
  box-shadow: -2px 2px 5px rgba(0, 0, 0, 0.1);
  text-align: right;
}

/*===================================================================*/
/*====================== Message Options  ===========================*/
/*===================================================================*/
.friend-que{
  display: flex;

}

.addFriend,.addedFriend{
  border: 1px solid #eee;
  width:50%;
}
.addedFriend button{
  display: block;
  margin: 0 auto;
}
.addFriend span,.addedFriend span{
  padding-left: 10px;
}

.options{
  /* border: 1px solid orange; */
  position: fixed;
  right: 0;
  color: #eee;
}
.options-menu{
  background-color: rgba(0, 0, 0, 0.5);
  width: 30%;
  max-height: 80%;
  overflow-y:scroll;
}
.options button{
  background: none;
  border-radius: 15px;
  color: #eee;
  border: 2px solid rgb(0, 61, 160);
  outline: none;
  transition: 0.25s;
}
.options button:hover{
  background: rgb(0, 61, 160);
}
.user-btn{
  display: block;
  width: 50%;
  margin: 10px auto;
}
.user-btn:first-child{
  margin-top: 40px;
}
.options-menu li{
  display: flex;
  justify-content: space-between;
  margin: 5px 10px;
}
.options h4{
  color: #eee;
  text-align: center;
}
.option-btn{
  float: right;
  clear: both;
}
.plus{
  font-size: 20px;
}
.friend-que .plus, .friend-que .close-btn{
  border: none;
}
.friend-que .plus:hover, .friend-que .close-btn:hover{
  background: none;
  color:rgb(0, 61, 160);
}
/*===================================================================*/
/*====================== Top Banner/Nav?  ===========================*/
/*===================================================================*/
.top h3{
  /* border:1px solid black; */
  width: 35%;
  text-align: center;
}
.top > *{
  margin: auto;
}

/*===================================================================*/
/*============================= Side Nav  ===========================*/
/*===================================================================*/
hr{
  width: 80%;
}
.welcome{
  font-family: 'Cinzel', serif;
}
.active{
  background: rgba(200,200,200,.3);
  color:pink;
}
.left-side h3{
  text-align: center;
}
.left-side li{
  list-style: none;
  padding-left: 15px;
}
.pm,.chat-room-msg{
  padding-bottom: 10px;
  display: block;
  transition: 0.25s;
}
.pm:hover,.chat-room-msg:hover{
  /* border: 1px solid green; */
  color:pink;
  cursor: pointer;
}

/*===================================================================*/
/*========================= Side Nav Find user ======================*/
/*===================================================================*/
.pm-box,.chat-room{
  max-height: 40%;
  overflow: scroll;
}
.find-user .close-btn:hover{
  color:pink;
}
.add-frnd{
  display: flex;
  justify-content: space-between;
  margin-top: 5px;
}
.add-frnd button{
  color: #eee;
  background: none;
  border-radius: 24px;
  border-width: 2px;
  transition: 0.25s;
}
.add-frnd button:hover{
  background: #eee;
  color: rgb(0, 61, 160);
}
.close-btn{
  cursor: pointer;

}
/*===================================================================*/
/*============================ Login/Sigup ==========================*/
/*===================================================================*/
.opening-box{
  position: absolute;
  top:30%;
  left:50%;
  background: rgba(25,25,25,.8);
  text-align: center;
  color: #eee;
  transform: translate(-50%,-50%);
}
.login-btn{
  display: flex;
  margin-top: 0;
  justify-content: space-around;
  background: rgb(89, 105, 130);


}
.login-btn span{
  padding: 5px;
  width: 50%;
  cursor: pointer;
  transition: 0.25s;
}
.selected{
  background: rgba(25,25,25,.8);
}
.login-box{
  padding: 40px;
  width: 300px;
}
.login-box h2{
  text-transform: uppercase;
  font-weight: 300;
  letter-spacing: 3px;
}
.login-box input[type="text"], .login-box input[type="password"]{
  border:0;
  background: none;
  display: block;
  margin: 20px auto;
  text-align: center;
  border: 2px solid #eee;
  padding: 14px 10px;
  width: 200px;
  outline: none;
  color: #eee;
  border-radius: 24px;
  transition: 0.25s;
}
.login-box input[type="text"]:focus, .login-box input[type="password"]:focus{
  width: 280px;
  border-color: #3498db;
}
.login-box input[type="submit"]{
  border:0;
  background: none;
  display: block;
  margin: 20px auto;
  text-align: center;
  border: 2px solid #3498db;
  padding: 14px 40px;
  outline: none;
  color: #eee;
  border-radius: 24px;
  transition: 0.25s;
}
.login-box input[type="submit"]:hover{
  background-color: #3498db;
}
.opening-page{
  width: 100vw;
  height: 100vh;
  background: rgb(89, 105, 130);
}
/*===================================================================*/
/*=============================== Modual ============================*/
/*===================================================================*/
.modual{
  width: 300px;
  min-height: 100px;
  padding: 30px;
  position: fixed;
  top:50%;
  left:50%;
  z-index: 3;
  transform: translate(-50%,-50%);
  background: rgb(89, 105, 130);
  color:#eee;
}
.modual span{
  margin-right: 30px;
  cursor: pointer;
}




























/*  */
